[Desktop Entry]
Name=智小白切片软件 G-code 查看器
Exec=ZhiXiaoBaiSlicer --gcodeviewer %F
Icon=ZhiXiaoBaiSlicer
Terminal=false
Type=Application
MimeType=text/x.gcode;
Categories=Graphics;3DGraphics;
Keywords=3D;Printing;Slicer;
StartupWMClass=ZhiXiaoBaiSlicer
